body {
    background-color: #171717;
    color: white;
}

* {
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

code, pre, kbd, samp {
    font-family: Consolas, Menlo, Monaco, "Courier New", monospace;
    font-size: 1.2em;
}

.highlight {
    color: #75b6e7;
}

.highlight-container {
    color: #75b6e7;
    border: 2px solid #75b6e7;
    border-radius: 8px;
    padding: 10px 12px;
    display: inline-block;
}

h1, h2, h3 {
    color: #75b6e7;
}

table, td, th {
    border: 1px solid #484848;
    text-align: left;
}

table {
    border-collapse: collapse;
    margin-right: 20px;
}

th, td {
    padding: 6px;
}

th {
    font-weight: bold;
    background-color: #484848;
}

.table-container {
    display: flex;
}

a:link {
    text-decoration-line: none;
    color: #75b6e7;
}

a:visited {
    text-decoration-line: none;
    color: #ac7ee1;
}

a:hover, a:active {
    text-decoration-line: underline;
    color: #278cda;
}
